
/* @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap');

* {
  box-sizing: border-box;
}

/* logo */
.logo{
  width: 55px;
  height: 55px;
}

body {
  margin: 0;
  min-width: 992px;
  font-family: "Helvetica";
  padding-top: 60px;
  /* font-family: 'Do Hyeon', sans-serif; */
}
 
/* navbar */
.navbar{
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.navbar #logo {
  line-height: 60px;
}
.navbar #logo img{
  vertical-align: middle;
}
 
.navbar #menu {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0;
  
}
.navbar #menu li {
  float:left;
  margin-left: 50px;
  line-height: 60px;
}
 
.navbar #menu li a {
  text-decoration: none;
  color: #545454 ;
  font-size: 17px;
  font-weight: bold;
}

.navbar #menu li a:hover{
  background-color: #F2F2E2;
  transition: .5s;
  border-radius: 15px;
  padding: 10px;
}

.nav-username{
  text-decoration: none;
  color: #545454;
  font-size: 15px;
  font-weight: bold;
}

.bar{
  color: #545454;
  font-size: 25px;
}
#cart{
  margin-right: 30px;
}

#login{
  margin-right: 30px;
}

/* hero header */
.hero-header{
  height: 500px;
  /* background-image: url("../images/background_img.jpg"); */
  background-color: #F2F2E2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  vertical-align: middle;
}

/* product_name */
.product_name{
  margin-left: 220px;
  margin-top: 0px;
  width: 500px;
  font-size: 35px;
  position: relative;
  top: 90px;
}

/* product_etc */
.product_etc{
  margin-left: 220px;
  margin-top: 40px;
  font-size: 20px;
  width: 500px;
  position: relative;
  top: 70px;
  color: gray;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.4;
  overflow: hidden;
}

/* product_price */
.product_price{
  margin-left: 220px;
  margin-top: 20px;
  font-size: 25px;
  width: 200px;
  position: relative;
  top: 70px;
  font-weight: bold;
}

/* product_link */
.product_link{
  margin-left: 220px;
  margin-top: 20px;
  width: 350px;
  height: 80px;
  font-size: 22px;
  color: white;
  background-color: #FFE08C;
  border-radius: 5px;
  position: relative;
  top: 100px;
  font-family: 'Do Hyeon', sans-serif;
  padding: 10px 25px 10px 25px;
  text-decoration: none;
}

.product_link2{
  margin-left: 30px;
  margin-top: 20px;
  width: 350px;
  height: 80px;
  font-size: 22px;
  color: white;
  background-color: #FFE08C;
  border-radius: 5px;
  position: relative;
  top: 100px;
  font-family: 'Do Hyeon', sans-serif;
  padding: 10px 25px 10px 25px;
  text-decoration: none;
}

.product_link:hover{
  background: #C9AA56;
  transition: 0.5s;
}

.product_link2:hover{
  background: #C9AA56;
  transition: 0.5s;
}

.like img{
  position: relative;
  top: 118px;
  height: 50px;
  width: 50px;
  margin-left: 30px;
}

.like img:hover{
  background-color: red;
  border-radius: 100%;
  transition: 0.5s;
}

/* product_img */
.product_img{
  width: 430px;
  height: 430px;
  margin-right: 210px;
  border-radius: 10px;
  float: right;
  position: relative;
  top: 35px;
  background-color: white;
}

/* image */
.image{
  width: 430px;
  height: 430px;
  border-radius: 10px;
}

/* product_info */
.product_info{
  width: 1300px;
  /* border: 1px solid black; */
  display: inline-block;  
}

/* review */
.review{
  margin-left: 100px;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 500px;
  border: 3px solid #F2F2E2;
  border-radius: 10px;
  display: inline-block;
  float: left;
  text-align: left;
  /* color: #F2F2E2; */
  /* text-shadow:2px 2px 2px #000; */
}

.review legend{
  font-size: 25px;
  font-weight: bold;
  font-family: 'Do Hyeon', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

.first, .second, .third{
  margin-left: 20px;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: 'Do Hyeon', sans-serif;
}

.first_review, .second_review, .third_review{
  margin-left: 25px;
  margin-top: 2px;
  margin-bottom: 30px;
  font-size: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.8;
  overflow: hidden;
  height: 60px;

}

.wordcloud{
  width: 500px;
  height: 445px;
  border: 3px solid #F2F2E2;
  border-radius: 10px;
  margin-top: 44px;
  margin-right: 100px;
  display: inline-block;
  float: right;
}

.wordcloud_img{
  object-fit: cover;
  width: 495px;
  height: 440px;
  padding: 5px;
}

/* hero footer */
.hero-footer{
  height: 300px;
  /* background-image: url("../images/background_img.jpg"); */
  background-color: #F2F2E2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


.review-background{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  display: none;
}


/* 테스트 */
.review-content{
  width: 1150px;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 15%;
  right: 15%;
  background-color: #f8f8e5;
  border-radius: 10px;
  border: 1px solid black;
}
