* {
  box-sizing: border-box;
}
 
body {
  margin: 0;
  min-width: 992px;
  font-family: "Helvetica";
}
 
/* navbar */
.navbar{
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
}
.navbar #logo {
  line-height: 60px;
}
.navbar #logo img{
  vertical-align: middle;
}
 
.navbar #menu {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0;
  
}
.navbar #menu li {
  float:left;
  margin-left: 50px;
  line-height: 60px;
}
 
.navbar #menu li a {
  text-decoration: none;
  color: #545454 ;
  font-size: 17px;
  font-weight: bold;
}
 
/* hero header */
.hero-header{
  height: 450px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.10) 10%,
    rgba(255, 255, 255, 0.25) 25%,
    rgba(255, 255, 255, 0.40) 40%,
    rgba(255, 255, 255, 0.55) 55%,
    rgba(255, 255, 255, 0.70) 70%,
    rgba(255, 255, 255, 0.85) 85%,
    rgba(255, 255, 255, 1) 100%
  ), url("../image/background_img.jpg");
  background-size: cover;
  background-position: center center;
  opacity: 0.8;

  
}
/* products */
 
.products h3{
  font-size: 30px;
  color: #545454;
  font-weight: bold;
  margin-top: 90px;
  margin-bottom: 120px;
  text-align: center;
}
.product-list{
  width: 90%;
  margin-left: 10%;
}
.product{
  width: 265px;
  height: 450px;
  text-align: center;
  display: block;
  color: #545454;
  text-decoration: none;
  float: left;
  margin-left:35px;
  margin-right: 35px;
  margin-bottom: 80px;
}
 
.product:hover{
  box-shadow: 1px 1px 20px #ddd;
}

.product-name{
  margin-top: 20px;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 5px;
  display:inline-block;
}
.clearfix{
  clear: both;
}
/* footer */
.footer{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0px;
 
}
.footer a{
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}

.logo{
  width: 60px;
  height: 60px;
}

/* hero footer */
.hero-footer{
  height: 300px;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.10) 10%,
    rgba(255, 255, 255, 0.25) 25%,
    rgba(255, 255, 255, 0.40) 40%,
    rgba(255, 255, 255, 0.55) 55%,
    rgba(255, 255, 255, 0.70) 70%,
    rgba(255, 255, 255, 0.85) 85%,
    rgba(255, 255, 255, 1) 100%
  ), url("../image/background_img.jpg");
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.8;
  

  
}