<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="{{ url_for('static', filename='css/empty_cart.css') }}" rel="stylesheet" />
  <title>Shopping_cart - Cart</title>
</head>
<body>
  <div class="header">
  </div>

  <div class="title">
    <img src="/static/image/shopping-cart.png"> 
    <a>장바구니</a>
  </div>

  <hr class="line"></hr>
  <div class="empty-cart">
    <img src="/static/image/empty-shopping-cart.png">
    <div>장바구니가 비어있습니다.</div>
  </div>
  <hr class="line2"></hr>

  <div class="footer">
  </div>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <script type="text/javascript">
      alert("{{ messages[-1] }}")
    </script>
    {% endif %}
  {% endwith %}
</body>
</html>