<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>testPage</title>
  <link href="{{ url_for('static', filename='css/modal_style.css') }}" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>
  <!-- 네비게이션 -->
  <div class="navbar">
    <a href="/" id="logo">
      <img src="{{ url_for('static', filename='image/logo2.jpg') }}" class="logo">
      </a>
      <ul id="menu">
        {% if session['user_id'] %} <!--세션이 있을 때-->
        <li class="bar">
            ㅣ
        </li>
        <li><a href="#" class="nav-username">{{ session.get('user_id') }} 님</a></li>
        <li><a href="/logout" class="nav_logout">logout</a></li>
        <li class="bar">
            ㅣ
        </li>
        <li><a href="/" class="li-menu">home</a></li>
        <li><a href="/shopping_cart" class="li-menu" id="cart" target="_blank">cart</a></li>
       {% else %} <!--세션이 없을 때-->
        <li><a href="/" class="li-menu">home</a></li>
        <li><a href="#" class="li-menu" onclick="alert('로그인 후 이용가능합니다. 회원가입 또는 로그인을 해주세요.')">cart</a></li>
        <li><a href="/login" class="li-menu" id="login">login</a></li>
       {% endif %}
      </ul>
  </div>

  <!-- 헤더(상품 정보) -->
  <div class="hero-header">
    {% for info in product_data %}
        <div class="product_box" style="width: 1500px; margin: auto;">
        <div class="product" style="float: left;">
            <h3 class="product_name">{{ info['name'] }}</h3>
            <div class="product_etc" title="{{ info['etc'] }}">{{ info['etc'] }}</div>
            <div class="product_price">{{ info['price'] }} 원</div>
            <a href="{{ shoplink }}" class="product_link" target="_blank">상품 보기</a>
            <a href="/review" class="product_link2" target="_blank" data-toggle="modal">리뷰 보기</a>

            <!-- 테스트 테스트테스트테스트테스트테스트테스트테스트테스트테스트테스트테스트테스트테스트테스트테스트테스트-->
            <!-- <a href="#" class="product_link2" onclick="modalOpen()">리뷰 보기</a> -->

            {% if session['user_id'] %} <!--세션이 있을 때-->
              <a href="/cart" class="like"><img src="/static/image/heart.png"></a>
            {% else %} <!--세션이 없을 때-->
              <a href="#" class="like" onclick="alert('로그인 후 이용가능합니다. 회원가입 또는 로그인을 해주세요.')"><img src="/static/image/heart.png"></a>
            {% endif %}

        </div>

        <div class="product_img">
            <img src="{{ info['img'] }}" class="image">
        </div>
        </div>
    {% endfor %}
  </div>

  <!-- 댓글 분석 -->
  <div style="text-align: center;">
    <div class="product_info">
      
      <fieldset class="review">
        <legend><div>Positive review Top 3</div></legend>
        {% for data in pos_review %}
          <div class="pos-info">
            <span class="first"><img src="{{ data['mall_logo'] }}" class="mall_logo"></span>
            <span class="bar"> ㅣ </span>
            <span class="name">{{ data['name'] }}</span>
            <span class="bar"> ㅣ </span>
            <span class="date">{{ data['date'] }}</span>
          </div>
          <div class="first_review">{{ data['review'] }}</div>
        {% endfor %}
      </fieldset>
    
      <div class="wordcloud">
        <img src="{{ url_for('static', filename='image/positive_wordcloud.png') }}" class="wordcloud_img">
      </div>
    </div>

    <div class="product_info">
      <fieldset class="review">
        <legend><div>Negative review Top 3</div></legend>
        {% for data in neg_review %}
          <div class="neg-info">
            <span class="first"><img src="{{ data['mall_logo'] }}" class="mall_logo"></span>
            <span class="bar"> ㅣ </span>
            <span class="name">{{ data['name'] }}</span>
            <span class="bar"> ㅣ </span>
            <span class="date">{{ data['date'] }}</span>
          </div>
          <div class="first_review">{{ data['review'] }}</div>
        {% endfor %}
      </fieldset>

      <div class="wordcloud">
        <img src="{{ url_for('static', filename='image/negative_wordcloud.png') }}" class="wordcloud_img">
      </div>
    </div>
  </div>



  <div class="footer">
    <div class="hero-footer">
    </div>
  </div>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <script type="text/javascript">
      alert("{{ messages[-1] }}")
    </script>
    {% endif %}
  {% endwith %}



</body>
<!-- <script>
    // 리뷰 보기 버튼을 눌렀을 때, 리뷰 창 보이기, 외부 스크롤 비활성화, 네비게이션 위치 변화
  function modalOpen() {
    document.querySelector('.test').style.display = 'block';
    document.querySelector('.navbar').style.position = "relative";
    document.body.style.overflow = "hidden";
    document.body.style.paddingTop = '0px';
    document.querySelector('.navbar').style.zIndex = "0"; 
  };

  // 닫기 버튼을 눌렀을 때, 리뷰 창 숨기기, 다시 외부 스크롤 활성화, 네비게이션 원래대로
  function modalClose() {
    document.querySelector('.test').style.display = 'none';
    document.querySelector('.navbar').style.position = 'fixed';
    document.body.style.overflow = "auto";
    document.body.style.paddingTop = '60px';
    document.querySelector('.navbar').style.zIndex = '1';
  };

  // 임시로 리뷰 페이지를 이동해도 리뷰 창이 안꺼지게
  // 다른 페이지 갔다가 다시 1페이지로 가면 리뷰 창이 사라져버림
  // 그냥 페이지 맨 아래쪽에 리뷰를 박아버릴까 생각중..
  current = 'http://127.0.0.1:5000/main';
  first_page = 'http://127.0.0.1:5000/main#';
  if(window.location.href == current){
    $(document).ready(function() {
      document.querySelector('.test').style.display = 'none';
    });
  }else{
    document.querySelector('.test').style.display = 'block';
    document.body.style.overflow = "hidden";
  } -->

</script>
</html>
