<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shopping_cart - Product</title>
  <link href="{{ url_for('static', filename='css/modal_style.css') }}" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>
  <!-- 네비게이션 -->
  <div class="navbar">
    <a href="/" id="logo">
      <img src="{{ url_for('static', filename='image/logo2.jpg') }}" class="logo">
      </a>
      <ul id="menu">
        {% if session['user_id'] %} <!--세션이 있을 때-->
        <li class="bar">
            ㅣ
        </li>
        <li><a href="#" class="nav-username">{{ session.get('user_id') }} 님</a></li>
        <li><a href="/logout" class="nav_logout">logout</a></li>
        <li class="bar">
            ㅣ
        </li>
        <li><a href="/" class="li-menu">home</a></li>
        <li><a href="/shopping_cart" class="li-menu" id="cart" target="_blank">cart</a></li>
       {% else %} <!--세션이 없을 때-->
        <li><a href="/" class="li-menu">home</a></li>
        <li><a href="#" class="li-menu" onclick="alert('로그인 후 이용가능합니다. 회원가입 또는 로그인을 해주세요.')">cart</a></li>
        <li><a href="/login" class="li-menu" id="login">login</a></li>
       {% endif %}
      </ul>
  </div>

  <!-- 헤더(상품 정보) -->
  <div class="hero-header">
    {% for info in product_data %}
        <div class="product_box" style="width: 1500px; margin: auto;">
        <div class="product" style="float: left;">
            <h3 class="product_name">{{ info['name'] }}</h3>
            <div class="product_etc" title="{{ info['etc'] }}">{{ info['etc'] }}</div>
            <div class="product_price">{{ info['price'] }} 원</div>
            <a href="{{ shoplink }}" class="product_link" target="_blank">상품 보기</a>
            <a href="/review" class="product_link2" target="_blank" data-toggle="modal">리뷰 보기</a>

            {% if session['user_id'] %} <!--세션이 있을 때-->
              <a href="/cart" class="like"><img src="/static/image/heart.png"></a>
            {% else %} <!--세션이 없을 때-->
              <a href="#" class="like" onclick="alert('로그인 후 이용가능합니다. 회원가입 또는 로그인을 해주세요.')"><img src="/static/image/heart.png"></a>
            {% endif %}

        </div>

        <div class="product_img">
            <img src="{{ info['img'] }}" class="image">
        </div>
        </div>
    {% endfor %}
  </div>

  <!-- 댓글 분석 -->
  <div style="text-align: center;">
    <div class="product_info">

      <div class="chart1">      
        <canvas id="donut_chart" height="420px" width="420px"></canvas>
      </div>

      <div class="chart2">
        <canvas id="bar_chart" height="500px" width="480px"></canvas>
      </div>
      
      <fieldset class="review">
        <legend><span class="pos">긍정 리뷰</span>Top 3<span class="more"><a onclick="posModal()"><img src="{{ url_for('static', filename='image/add.png') }}"></a></span></legend>
        {% for data in Positive_Top_3_review %}
          <div class="pos-info" title=" 유사도 스코어 : {{ data['score'] }}">
            <span class="grade"><a>Positive</a> Top {{ data['grade'] }}</span>
          </div>
          <div class="first_review">{{ data['review'] }}</div>
        {% endfor %}
      </fieldset>
    
      <div class="wordcloud">
        <img src="{{ url_for('static', filename='image/pos_wordcloud.png') }}" class="wordcloud_img">
      </div>
    

      
        <fieldset class="review">
          <legend><span id="neg">부정 리뷰</span>Top 3<span class="more"><a onclick="negModal()"><img src="{{ url_for('static', filename='image/add.png') }}"></a></span></legend>
          {% for data in Negative_Top_3_review %}
            <div class="neg-info" title=" 유사도 스코어 : {{ data['score'] }}">
              <span class="grade"><a>Negative</a> Top {{ data['grade'] }}</span>
            </div>
            <div class="first_review">{{ data['review'] }}</div>
          {% endfor %}
        </fieldset>

        <div class="wordcloud">
          <img src="{{ url_for('static', filename='image/neg_wordcloud.png') }}" class="wordcloud_img">
        </div>

        <div class="pro-sug"><a>제품 추천</a></div>
        <hr class="foot-bar" />
        <div class="sug-product">

          {% for data in suggest_list %}
            
              <div class="s-product">
                <a href="{{ data['link'] }}" target="_blank">
                  <img src="{{ data['img'] }}" title="{{ data['name'] }}">
                  <p title="{{ data['name'] }}" class="sug-title">{{ data['name'] }}</p>
                  <p class="sug-price" title="{{ data['price'] }}">{{ data['price'] }} 원</p>
                </a>
              </div>
            
          {% endfor %}
        </div>

        <hr class="foot-bar2" />
      
    </div>
  </div>
  <div class="footer">
    <div class="hero-footer">
    </div>
  </div>
  <!-- 긍정 리뷰 모달-->
  <div class="pos-modal-background">
    <div class="empty">
      <div class="review-box">
        <h1 class="title">긍정 리뷰</h1>
      </div>
      <div class="close-button" onclick="posModalClose()">
        <img src="{{ url_for('static', filename='image/white-close.png') }}">
      </div>
      <div class="box">
        {% for text in good_text %}
          <div class="big">
            <div class="top">
              <span class="logo">
                <img src="{{ text['mall_logo'] }}" class="mall-logo">
              </span>
              <span class="bar">
                ㅣ
              </span>
              <span class="date">
                {{ text['date'] }}
              </span>
              <span class="bar">
                ㅣ
              </span>
              <span class="name">
                {{ text['name'] }}
              </span>
              <span class="bar">
                ㅣ
              </span>
              <span class="stars">
                {% set star = text['star_score'] %}
                {% if star == 100 %}
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                {% elif star == 80 %}
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                {% elif star == 60 %}
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                {% elif star == 40 %}
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                {% elif star == 20 %}
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                {% else %}
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                {% endif %}
              </span>
    
              <span class="bar">
                ㅣ
              </span>
              {% set label = text['label'] %}
              {% if label == 1 %}
                <span class="positive">
                  긍정
                </span>
              {% else %}
                <span class="negative">
                  부정
                </span>
              {% endif %}
            </div>
            <div>
              <div class="text">
                {{ text['review'] }}   <!-- 리뷰 내용 (3줄까지, 이후 생략(...) )-->
              </div>
              <a class="more-review"><span>▶</span>더보기</a>
              <a class="hide-review"><span>▲</span>접기</a> 
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- 부정 리뷰 모달-->
  <div class="neg-modal-background">
    <div class="empty">
      <div class="review-box">
        <h1 class="title">부정 리뷰</h1>
      </div>
      <div class="close-button" onclick="negModalClose()">
        <img src="{{ url_for('static', filename='image/white-close.png') }}">
      </div>
      <div class="box">
        {% for text in bad_text %}
          <div class="big">
            <div class="top">
              <span class="logo">
                <img src="{{ text['mall_logo'] }}" class="mall-logo">
              </span>
              <span class="bar">
                ㅣ
              </span>
              <span class="date">
                {{ text['date'] }}
              </span>
              <span class="bar">
                ㅣ
              </span>
              <span class="name">
                {{ text['name'] }}
              </span>
              <span class="bar">
                ㅣ
              </span>
              <span class="stars">
                {% set star = text['star_score'] %}
                {% if star == 100 %}
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                {% elif star == 80 %}
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                {% elif star == 60 %}
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                {% elif star == 40 %}
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                {% elif star == 20 %}
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                {% else %}
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                {% endif %}
              </span>
    
              <span class="bar">
                ㅣ
              </span>
              {% set label = text['label'] %}
              {% if label == 1 %}
                <span class="positive">
                  긍정
                </span>
              {% else %}
                <span class="negative">
                  부정
                </span>
              {% endif %}
            </div>
            <div>
              <div class="text">
                {{ text['review'] }}   <!-- 리뷰 내용 (3줄까지, 이후 생략(...) )-->
              </div>
              <a class="more-review"><span>▶</span>더보기</a>
              <a class="hide-review"><span>▲</span>접기</a> 
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>




  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <script type="text/javascript">
      alert("{{ messages[-1] }}")
    </script>
    {% endif %}
  {% endwith %}

</body>
<script>
  //긍정 모달
  function posModal() {
    document.querySelector('.pos-modal-background').style.display = 'block'; //리뷰 창 보이기
    document.body.style.overflow = "hidden"; //외부 스크롤 비활성화
  };

  function posModalClose() {
    document.querySelector('.pos-modal-background').style.display = 'none'; //리뷰 창 숨기기
    document.body.style.overflow = "auto"; // 외부 스크롤 활성화
  };

  //부정 모달
  function negModal() {
    document.querySelector('.neg-modal-background').style.display = 'block'; //리뷰 창 보이기
    document.body.style.overflow = "hidden"; //외부 스크롤 비활성화
  };

  function negModalClose() {
    document.querySelector('.neg-modal-background').style.display = 'none'; //리뷰 창 숨기기
    document.body.style.overflow = "auto"; // 외부 스크롤 활성화
  };

  $(".more-review").click(function(){
    $(this).hide();
    $(this).siblings(".hide-review").show();
    $(this).siblings(".text").css({'-webkit-line-clamp':'50'});
  })
  $(".hide-review").click(function(){
    $(this).siblings(".more-review").show();
    $(this).hide();
    $(this).siblings(".text").css({'-webkit-line-clamp':'3'});
  })
  // 바 차트
  var ctx = document.getElementById('bar_chart').getContext('2d');
  var zero = '{{ bar_count.zero }}';
  var one = '{{ bar_count.one }}';
  var two = '{{ bar_count.two }}';
  var three = '{{ bar_count.three }}';
  var four = '{{ bar_count.four }}';
  var five = '{{ bar_count.five }}';
      var chart = new Chart(ctx, {
          // The type of chart we want to create
          type: 'bar',

          // The data for our dataset
          data: {
              labels: ['0점', '1점', '2점', '3점', '4점', '5점'],
              datasets: [{
                  label: '쇼핑몰 별점 별 리뷰 갯수',
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.5)',
                      'rgba(255, 99, 132, 0.5)',
                      'rgba(255, 99, 132, 0.5)',
                      'rgba(75, 192, 192, 0.5)',
                      'rgba(75, 192, 192, 0.5)',
                      'rgba(75, 192, 192, 0.5)'
                    ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(255, 99, 132, 1)',
                      'rgba(255, 99, 132, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(75, 192, 192, 1)'
                    ],
                  data: [zero, one, two, three, four, five]
              }]
          },

          // Configuration options go here
          options: {
              title: {
                  display: true,
                  fontSize: 30,
                  fontColor: 'rgba(46, 49, 49, 1)'
              },
              legend: {
                  labels: {
                      fontColor: 'rgba(83, 51, 237, 1)',
                      fontSize: 15
                  }
              },
              scales: {
                  xAxes: [{
                      ticks: {
                          fontColor: 'rgba(27, 163, 156, 1)',
                          fontSize: '15'
                      }
                  }],
                  yAxes: [{
                      ticks: {
                          beginAtZero: true,
                          fontColor: 'rgba(246, 36, 89, 1)',
                          fontSize: '15'
                      }
                  }]
              },
              responsive:false,
              
          }
      });

      var ctx = document.getElementById("donut_chart");
      var pos = '{{ donut_per.pos }}'
      var neg = '{{ donut_per.neg }}'
      var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: ['긍정 ' + pos + '%', '부정 ' + neg + '%'],
          datasets: [{
            label: '# of Tomatoes',
            data: [pos, neg],
            backgroundColor: [
              'rgba(75, 192, 192, 0.5)',
              'rgba(255, 99, 132, 0.7)'
            ],
            borderColor: [
              'rgba(75, 192, 192, 1)',      
              'rgba(255,99,132,1)'
            ],
            borderWidth: 1
          }]
        },
        options: {
          //cutoutPercentage: 40,
          responsive: false,
          legend:{
            labels:{
              fontStyle:'bold',
              fontSize:15,
            }
          },
          tooltips: {
            callbacks: {
              label: function(tooltipItem, data) {
                var label = data.labels[tooltipItem.index];
                return label;
              }
            }
          }

        }
      });
</script>

</html>
