<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="{{ url_for('static', filename='css/review_style.css') }}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    

    
    <title>Shopping_cart - Review</title>
  </head>
  <body>
    <div class="top">

    </div>
    <div class="review-box">
      <span class="title"> 리뷰 ({{ review_count }})</span>
      <span><img src="{{ url_for('static', filename='image/star3.png') }}" class="title-star"></span>
    </div>

    <div class="combo">
      <select class="select-star" onchange="location.href=this.value">
        <option class="none" value="/review">===== 선택 ======</option>
        <option class="all" value="/review">전체</option>
        <option class="one-star" value="/one" selected>1개 &#xf005</option>
        <option class="two-star" value="/two">2개 &#xf005 &#xf005</option>
        <option class="three-star" value="/three">3개 &#xf005 &#xf005 &#xf005</option>
        
        <option class="four-star" value="/four">4개 &#xf005 &#xf005 &#xf005 &#xf005</option>
        <option class="five-star" value="/five">5개 &#xf005 &#xf005 &#xf005 &#xf005 &#xf005</option>
      </select>
    </div>

    <!-- <div class="close-button" onclick="modalClose()">
      <img src="/static/image/closed.png">
    </div> -->

    <div class="box">
      {% for data in one_star %}
        <div class="big">
          <div class="top">
            <span class="logo">
              <img src="{{ data['mall_logo'] }}" class="mall-logo">    <!-- 각 리뷰별 쇼핑몰 로고 -->
            </span>
            <span class="bar">
              ㅣ
            </span>
            <span class="cnt">
              review {{ loop.index + (page - 1) * per_page }}  <!-- 페이지에 나타나는 데이터에 대한 번호를 나타냄 -->
            </span>
            <span class="bar">
              ㅣ
            </span>
            <span class="date">
              {{ data['date'] }}     <!-- 리뷰 작성 날짜 -->
            </span>
            <span class="bar">
              ㅣ
            </span>
            <span class="name">
              {{ data['name'] }}   <!-- 작성자 이름(아이디) -->
            </span>
            <span class="bar">
              ㅣ
            </span>
            <span class="stars">
              <span class="stars" title="{{ data['star_score'] }}">
                {% set star = data['star'] %}
                {% if star == 100 %}
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                {% elif star == 80 %}
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                {% elif star == 60 %}
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                {% elif star == 40 %}
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                {% elif star == 20 %}
                  <img src="{{ url_for('static', filename='image/star.jpg') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                {% else %}
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                  <img src="{{ url_for('static', filename='image/empty_star.png') }}" class="star">
                {% endif %}
              </span>
            </span>
            <span class="bar">
              ㅣ
            </span>
          </div>
          <div>
            <div class="text">
              {{ data['review'] }}   <!-- 리뷰 내용 (3줄까지, 이후 생략(...) )-->
            </div>
            <a class="more"><span>▶</span>더보기</a>
            <a class="hide"><span>▲</span>접기</a> 
          </div>
        </div>
        
      {% endfor %}
      <div class="paging">
        {{ pagination.links }}   <!--페이지 번호와 이동-->
      </div>
    </div>   
  </body>
  <script>
    $(".more").click(function(){
      $(this).hide();
      $(this).siblings(".hide").show();
      $(this).siblings(".text").css({'-webkit-line-clamp':'50'});
    })
    $(".hide").click(function(){
      $(this).siblings(".more").show();
      $(this).hide();
      $(this).siblings(".text").css({'-webkit-line-clamp':'3'});
    })
  </script>
</html>
