* {
  box-sizing: border-box;
}
 
/* logo */
.logo{
  width: 53px;
  height: 53px;
}

body {
  margin: 0;
  min-width: 992px;
  font-family: "Helvetica";
}
 
/* navbar */
.navbar{
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 3px solid lightgray;
  /* 상단바 고정*/
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.navbar #logo {
  line-height: 60px;
}
.navbar #logo img{
  vertical-align: middle;
  width: 55px;
  height: 55px;
}
 
.navbar #menu {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0;
  
}
.navbar #menu li {
  float:left;
  margin-left: 50px;
  line-height: 60px;
}
 
.navbar #menu li a {
  text-decoration: none;
  color: #545454 ;
  font-size: 17px;
  font-weight: bold;
}
 
/* hero header */
.hero-header{
  height: 450px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.10) 10%,
    rgba(255, 255, 255, 0.25) 25%,
    rgba(255, 255, 255, 0.40) 40%,
    rgba(255, 255, 255, 0.55) 55%,
    rgba(255, 255, 255, 0.70) 70%,
    rgba(255, 255, 255, 0.85) 85%,
    rgba(255, 255, 255, 1) 100%
  ), url("../image/background_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.search_error{
  text-align: center;
}
.error_img{
  width: 400px;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 100px;
}

.error_text{
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: bold;
  margin-top: 100px;
}

.error_home{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  /* padding: 15px 30px 10px 30px; */
  position: relative;
  top: 5px;
  margin-left: 20px;

}

/* footer */
.footer{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0px;
 
}
.footer a{
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}

/* hero footer */
.hero-footer{
  height: 300px;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.10) 10%,
    rgba(255, 255, 255, 0.25) 25%,
    rgba(255, 255, 255, 0.40) 40%,
    rgba(255, 255, 255, 0.55) 55%,
    rgba(255, 255, 255, 0.70) 70%,
    rgba(255, 255, 255, 0.85) 85%,
    rgba(255, 255, 255, 1) 100%
  ), url("../image/background_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  
}