/* @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap');

* {
  box-sizing: border-box;
}

/* logo */
.logo{
  width: 53px;
  height: 53px;
}

body {
  min-width: 992px;
  font-family: "Helvetica";
  padding-top: 50px;
  margin-left: 0px;
  /* font-family: 'Do Hyeon', sans-serif; */
}
 
/* navbar */
.navbar{
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
  position: fixed;
  border-bottom: 3px solid lightgray;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.navbar #logo {
  line-height: 60px;
}
.navbar #logo img{
  vertical-align: middle;
}
 
.navbar #menu {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0;

}
.navbar #menu li {
  float:left;
  margin-left: 50px;
  line-height: 60px;
}
 
.navbar #menu li a {
  text-decoration: none;
  color: #545454 ;
  font-size: 17px;
  font-weight: bold;
}

.navbar #menu li a:hover{
  background-color: #F2F2E2;
  transition: .5s;
  border-radius: 15px;
  padding: 10px;
}

.nav-username{
  text-decoration: none;
  color: #545454;
  font-size: 15px;
  font-weight: bold;
}

.bar{
  color: #545454;
  font-size: 25px;
}
#cart{
  margin-right: 30px;
}

#login{
  margin-right: 30px;
}

/* hero header */
.hero-header{
  height: 500px;
  /* background-image: url("../images/background_img.jpg"); */
  background-color: #F2F2E2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  vertical-align: middle;
}

/* product_name */
.product_name{
  margin-left: 220px;
  margin-top: 0px;
  width: 500px;
  font-size: 35px;
  position: relative;
  top: 90px;
}

/* product_etc */
.product_etc{
  margin-left: 220px;
  margin-top: 40px;
  font-size: 20px;
  width: 500px;
  position: relative;
  top: 70px;
  color: gray;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.4;
  overflow: hidden;
}

/* product_price */
.product_price{
  margin-left: 220px;
  margin-top: 20px;
  font-size: 25px;
  width: 200px;
  position: relative;
  top: 70px;
  font-weight: bold;
}

/* product_link */
.product_link{
  margin-left: 220px;
  margin-top: 20px;
  width: 350px;
  height: 80px;
  font-size: 22px;
  color: white;
  background-color: #FFE08C;
  border-radius: 5px;
  position: relative;
  top: 100px;
  font-family: 'Do Hyeon', sans-serif;
  padding: 10px 25px 10px 25px;
  text-decoration: none;
}

.product_link2{
  margin-left: 30px;
  margin-top: 20px;
  width: 350px;
  height: 80px;
  font-size: 22px;
  color: white;
  background-color: #FFE08C;
  border-radius: 5px;
  position: relative;
  top: 100px;
  font-family: 'Do Hyeon', sans-serif;
  padding: 10px 25px 10px 25px;
  text-decoration: none;
}

.product_link:hover{
  background: #C9AA56;
  transition: 0.5s;
  text-decoration: none;
  color: white;
}

.product_link2:hover{
  background: #C9AA56;
  transition: 0.5s;
  text-decoration: none;
  color: white;
}

.like img{
  position: relative;
  top: 120px;
  height: 50px;
  width: 50px;
  margin-left: 40px;
}

.like img:hover{
  background-color: red;
  border-radius: 100%;
  transition: 0.5s;
}

/* product_img */
.product_img{
  width: 440px;
  height: 440px;
  margin-right: 210px;
  border-radius: 10px;
  float: right;
  position: relative;
  top: 35px;
  background-color: white;
  border: 5px solid lightgrey;
}

/* image */
.image{
  width: 430px;
  height: 430px;
  border-radius: 10px;
}

/* product_info */
.product_info{
  width: 1300px;
  /* border: 1px solid black; */
  display: inline-block;  
}

/* review */
.review{
  margin-left: 100px;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-right: 50px;
  width: 500px;
  height: 465px;
  border: 3px solid #F2F2E2;
  border-radius: 10px;
  display: inline-block;
  text-align: left;
  position: relative;
  bottom: 8px;
  /* color: #F2F2E2; */
  /* text-shadow:2px 2px 2px #000; */
}


.review legend{
  font-size: 25px;
  font-weight: bold;
  font-family: 'Do Hyeon', sans-serif;
  padding-left: 20px;
  padding-right: 10px;
  margin-bottom: -8px;
}

.pos{
  margin-right: 20px;
  color: rgb(23, 214, 23);
}

#neg{
  margin-right: 20px;
  color: red;
}

.first, .second, .third{
  margin-left: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: 'Do Hyeon', sans-serif;
  
}

.first_review{
  margin-left: 25px;
  margin-top: 2px;
  margin-bottom: 15px;
  font-size: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.8;
  overflow: hidden;
  height: 75px;

}

.wordcloud{
  width: 500px;
  height: 435px;
  border: 3px solid #F2F2E2;
  border-radius: 10px;
  /* margin-top: 41px; */
  margin-right: 100px;
  display: inline-block;
  position: relative;
  top: 5px;
}

.wordcloud_img{
  object-fit: cover;
  width: 495px;
  height: 425px;
  padding: 15px;
}

/* hero footer */
.hero-footer{
  height: 300px;
  /* background-image: url("../images/background_img.jpg"); */
  background-color: #F2F2E2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 50px;
}


.mall_logo{
  width: 50px;
  position: relative;
  top: 2px;
  margin-right: -6px;
}

.name, .date{
  position: relative;
  bottom: 2px;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
}

.pos-info, .neg-info{
  /* margin-top: 5px; */
  margin-bottom: 10px;
}

.bar{
  font-size: 20px;
}



/* 모달 */
.title{
  margin-left: 12%;
  margin-top: 50px;
  z-index: 1;
  color: white;
}
.empty{
  width: 60%;
  min-height: 500px;
  min-width: 1000px;
  height: 90%;
  position: absolute;
  top: 55px;
  left: 20%;            
  border: 3px solid black;       
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../image/background_img3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
}
.box{
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  border: 3px solid black;
  width: 80%;
  height: 80%;
  margin: 10px auto;
  overflow-y: auto;
}

.big{
  position: relative;
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
  padding-bottom: 45px;
  

}
.cnt{
  margin-bottom: 6px;
  margin-left: 8px;
  line-height: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-overflow: ellipsis;
  position: relative;
  top: 2px;
}

.text{
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.7;
  overflow: hidden;
  color: #555;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 8px;
}

.top{
  /* border: 1px solid black; */
  height: 30px;
}

.date{
  margin-left: 3px;
  position: relative;
  top: 1px;
  font-size: 15px;
}

.mall-logo{
  width: 60px;
  height: 25px;
  margin-bottom: -5px;
  margin-right: -8px;
  margin-left: 10px;
  position: relative;
  top: 2px;
}

.grade{
  position: relative;
  font-size: 22px;
  margin-right: 5px;
  margin-right: 5px;
  font-weight: bold;
  margin-left: 18px;
  font-family: 'Do Hyeon', sans-serif;
}

.pos-info span a{
  color: #86E57F;
  margin-left: 5px;
}

.neg-info span a{
  color: red;
  margin-left: 5px;
}

.bar{
  color: #8C8C8C;
  position: relative;
  top: 2px;
}

.stars{
  color: #FFF612;
  font-size: 25px;
  position: relative;
  top: 1px;
  margin-left: 5px;
}

.star{
  width: 20px;
  height: 20px;
  position: relative;
  top: 2px;
}

.positive{
  font-weight: bold;
  color: #86E57F;
  position: relative;
  top: 2px;
  font-size: 20px;
}

.negative{
  font-weight: bold;
  color: #F15F5F;
  position: relative;
  top: 2px;
  font-size: 20px;
}

.pos-modal-background, .neg-modal-background{
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 50px;
  background-color: rgb(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}

.close-button{
  float: right;
}

.close-button img{
  width: 55px;
  height: 55px;
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 12%;
}

.more{
  margin-left: 20px;
  margin-right: 20px;
  font-size: 50px;
  position: relative;
  text-decoration: none;
  color: black;
  top: 4px;
  cursor: pointer;
}
.more a{
  text-decoration: none;
  color: black;
}
.more img{
  width: 25px;
  height: 25px;
}

.chart1{
  margin-left: 100px;
  margin-right: 50px;
  margin-bottom: 30px;
  margin-top: 20px;
  width: 500px;
  height: 460px;
  border: 3px solid #F2F2E2;
  border-radius: 10px;
  display: inline-block;
  position: relative;
  top: 30px;
  
}
.chart2{
  width: 500px;
  height: 460px;
  border: 3px solid #F2F2E2;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 100px;
  display: inline-block;
  position: relative;
}

.chart1 img{
  width: 470px;
  height: 453px;
  margin-left: 5px;
}
.chart2 img{
  width: 470px;
  height: 453px;
}

.foot-bar{
  border: 3px solid lightgray;
  margin-top: 85px;
}

.pro-sug{
  font-size: 30px;
  font-weight: bold;
  float: left;
  margin-top: 30px;
  margin-left: 20px;
  font-family: 'Do Hyeon', sans-serif;
}

.sug-product{
  /* border: 1px solid black; */
  width: 98%;
  height: 400px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
}
.sug-product a{
  text-decoration: none;
  color: black;
}

.foot-bar2{
  border: 3px solid lightgray;
  margin-top: 40px;
}

.s-product{
  border: 1px solid #dbdbcb;
  border-radius: 10px;
  width: 230px;
  height: 350px;
  margin: auto;
}

.s-product img{
  width: 220px;
  height: 200px;
  margin: 0 auto;
  margin-top: 15px;
}

.sug-title{
  font-size: 18px;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  /* line-height: 1.7; */
  overflow: hidden;
  margin-left: 5px;
  margin-right: 5px;
}

.sug-price{
  font-size: 18px;
}

.more-review{
  margin-left: 30px;
  cursor: pointer;
  display: block;
  font-weight: bold;
  font-size: 15px;
}

.hide-review{
  margin-left: 30px;
  cursor: pointer;
  display: none;
  font-weight: bold;
}

.more-review span{
  position: relative;
  bottom: 1px;
  margin-right: 5px;
}

.hide-review span{
  position: relative;
  bottom: 1px;
  margin-right: 5px;
}

.chart2 canvas{
  position: relative;
  bottom: 50px;
}
.chart1 canvas{
  margin: 0 auto;
}

.devide-name-first{
  float: left;
  margin-left: 100px;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Do Hyeon', sans-serif;
}

.devide-line-first{
  border: 3px solid lightgray;
  width: 90%;
  margin-top: 20px;
}

.devide-name-second{
  float: left;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Do Hyeon', sans-serif;
}
.devide-line-second{
  border: 3px solid lightgray;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
}