* {
  box-sizing: border-box;
}
 
body {
  margin: 0;
  min-width: 992px;
  font-family: "Helvetica";
  padding-top: 60px;
}
 
/* navbar */
.navbar{
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.navbar #logo {
  line-height: 60px;
}
.navbar #logo img{
  vertical-align: middle;
}
 
.navbar #menu {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0;
  
}
.navbar #menu li {
  float:left;
  margin-left: 50px;
  line-height: 60px;
}
 
.navbar #menu li a {
  text-decoration: none;
  color: #545454 ;
  font-size: 17px;
  font-weight: bold;
}

.navbar #menu li a:hover{
  background-color: #F2F2E2;
  transition: .5s;
  border-radius: 15px;
  padding: 10px;
}

.nav-username{
  text-decoration: none;
  color: #545454;
  font-size: 15px;
  font-weight: bold;
}

.bar{
  color: #545454;
  font-size: 25px;
}
#cart{
  margin-right: 30px;
}

#login{
  margin-right: 30px;
}
 
/* hero header */
.hero-header{
  height: 450px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.10) 10%,
    rgba(255, 255, 255, 0.25) 25%,
    rgba(255, 255, 255, 0.40) 40%,
    rgba(255, 255, 255, 0.55) 55%,
    rgba(255, 255, 255, 0.70) 70%,
    rgba(255, 255, 255, 0.85) 85%,
    rgba(255, 255, 255, 1) 100%
  ), url("../image/background_img.jpg");
  background-size: cover;
  background-position: center center;
  opacity: 0.8;

  
}
/* products */
 
.products h3{
  font-size: 30px;
  color: #545454;
  font-weight: bold;
  margin-top: 90px;
  margin-bottom: 120px;
  text-align: center;
}
.product-list{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.product{
  width: 265px;
  height: 450px;
  text-align: center;
  display: block;
  color: #545454;
  text-decoration: none;
  float: left;
  margin-left:35px;
  margin-right: 35px;
  margin-bottom: 80px;
}
 
.product:hover{
  box-shadow: 1px 1px 20px #ddd;
}

.product-name{
  margin-top: 20px;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 5px;
  display:inline-block;
}
.clearfix{
  clear: both;
}
/* footer */
.footer{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0px;
 
}
.footer a{
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}

.logo{
  width: 58px;
  height: 58px;
}

/* hero footer */
.hero-footer{
  height: 300px;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.10) 10%,
    rgba(255, 255, 255, 0.25) 25%,
    rgba(255, 255, 255, 0.40) 40%,
    rgba(255, 255, 255, 0.55) 55%,
    rgba(255, 255, 255, 0.70) 70%,
    rgba(255, 255, 255, 0.85) 85%,
    rgba(255, 255, 255, 1) 100%
  ), url("../image/background_img.jpg");
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.8;
}

/* 로딩 애니메이션 */
.loadingBox{
  display: none;
}

.loadingBox .dim {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  z-index: 1;
}

@keyframes spinCircle {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.loadingBox .circle {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border: 10px solid #fff;
  border-top: 10px solid rgb(238, 212, 95);
  border-radius: 50em;
  animation-name: spinCircle;
  animation-duration: .8s;
  animation-iteration-count: infinite;
  z-index: 1;
}