body{
  background: rgba(0, 0, 0, 0.5) url('../image/background_img3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  font-family: 'Do Hyeon', sans-serif;
  background-blend-mode: darken;
}

body{
  padding-top: 0px;
}
.title{
  margin-left: 24%;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-right: 20px;
  /* margin-left: 28%; */
  color: whitesmoke;
  font-size: 35px;
  font-weight: bold;
}

.title-star{
  width: 40px;
  height: 40px;
  /* margin-left: 5px; */
  position: relative;
  top: 13px;
  margin-bottom: 43px;
}

.box{
  background-color: white;
  /* background: none; */
  border-radius: 10px;
  padding: 30px;
  border: 2px solid black;
  width: 55%;
  margin: 0 auto;
  margin-bottom: 60px;
  
}

.big{
  position: relative;
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
  padding-bottom: 45px;
  

}
.cnt{
  margin-bottom: 6px;
  margin-left: 8px;
  line-height: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-overflow: ellipsis;
  position: relative;
  top: 2px;
}

.text{
  line-height: 22px;
  max-height: 104px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.7;
  overflow: hidden;
  color: #555;
  margin-top: 30px;
  margin-left: 30px;
}

.top{
  /* border: 1px solid black; */
  height: 30px;
}

.date{
  margin-left: 3px;
  position: relative;
  top: 1px;
  font-size: 15px;
}

.mall-logo{
  width: 60px;
  height: 25px;
  margin-bottom: -5px;
  margin-right: -8px;
  margin-left: 10px;
  position: relative;
  top: -4px;
}

.name{
  position: relative;
  top: -1px;
  font-size: 15px;
  margin-right: 5px;
}

.bar{
  color: #8C8C8C;
  position: relative;
  top: 2px;
}

.stars{
  color: #FFF612;
  font-size: 25px;
  position: relative;
  top: 1px;
  margin-left: 5px;
  margin-right: 5px;
}
.star{
  width: 20px;
  height: 20px;
  position: relative;
  top: -2px;
}

.positive{
  font-weight: bold;
  color: #86E57F;
  position: relative;
  top: 2px;
  font-size: 20px;
}

.negative{
  font-weight: bold;
  color: #F15F5F;
  position: relative;
  top: 2px;
  font-size: 20px;
}


.paging{
  padding-top: 20px;
  display: flex;
  justify-content: center;

  
  /* margin-right: 50%; */
}
.page-link {
  color: #000; 
  background-color: #fff;
  border: 1px solid #ccc; 
}

.page-item.active .page-link {
 z-index: 1;
 color: black;
 font-weight:bold;
 background-color: lightgray;
 border-color: #ccc;
}

.page-link:focus, .page-link:hover {
  color: #000;
  background-color: lightgray; 
  border-color: #ccc;
  
}
.page-item.disabled .page-link{
  border-color: #ccc;
  color: #ccc;
}

.combo {
  float: right;
  position: absolute;
  top: 50px;
  right: 24%;
}

.select-star {
  width: 200px;
  height: 25px;
  margin: 10px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 18px;
}

.select-star option {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.none{
  text-align: center;
}
