@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap');
body{
  background: rgba(0, 0, 0, 0.5) url('../image/background_img3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  font-family: 'Do Hyeon', sans-serif;
  background-blend-mode: darken;
}
.title{
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  float: left;
  font-size: 60px;
  color: antiquewhite;
}

.text{
  position: absolute;
  top: 39%;
  left: 50%;
  transform: translate(-50%, -50%);
  float: left;
  font-size: 25px;
  color: antiquewhite;
}

.search-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  float: left;
}

.search{
  width: 500px;
  padding: 12px 24px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: antiquewhite;
  background-color: transparent;
  background-image: url("../image/search2.png");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 95% center;
  border-radius: 50px;
  border: 2px solid antiquewhite;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  position: relative;
  
}

.search::placeholder {
  color: antiquewhite;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 13px;
}
.search:hover, :focus{
  padding: 12px 0;
  outline: 0;
  border: 2px solid transparent;
  border-bottom: 2px solid antiquewhite;
  border-radius: 0;
  background-position: 100% center;
}
/* .search:invalid{

} */

.submit{
  position: relative;
  cursor: pointer;
  width: 35px;
  height: 35px;
  position: absolute;
  transform: translate( -100%, 15% );
  background-color:transparent;
  border: none;
}

.logo{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img{
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 30%;
  object-fit: fill;
  padding: 5px;
  margin: 20px;
}
a{
  text-decoration: none;
}

.user{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login{
  position: relative;
  float: left;
  margin: 10px;
  font-size: 20px;
}
.login a{
  text-decoration: none; 
  color: antiquewhite;
  padding: 10px;
  border-radius: 10px;
}

.login a:hover{
  background-color:rgb(255, 255, 255, 0.2);
  transition:  0.5s;
}

.signin{
  position: relative;
  float: right;
  margin-left: 70px;
  margin-top: 10px;
  font-size: 20px;
}

.signin a{
  color: antiquewhite;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}

.signin a:hover{
  background-color:rgb(255, 255, 255, 0.2);
  transition:  0.5s;
}

.user-info{
  background-color:rgb(255, 255, 255, 0.2);
  position: absolute;
  width: 200px;
  height: 100px;
  border-radius: 10px;
  text-align: center;
  /* display: none; */
}

.nickname{
  padding-top: 18px;
  margin-left: 35px;
  margin-right: 30px;
  color: white;
  float: left;
}

.logout{
  float: right;
  /* position: relative; */
  margin-top: 12px;
  /* margin-left: 16px; */
  text-decoration: none;
  color: white;
  margin-right: 15px;
  padding: 10px;
  border-radius: 10px;
}

.logout:hover{
  background-color:rgb(255, 255, 255, 0.2);
  transition:  0.5s;
}

.shop{
  float: left;
  /* position: absolute; */
  margin-top: 12px;
  margin-left: 20px;
  text-decoration: none;
  color: white;
  margin-right: 26px;
  padding: 10px;
  border-radius: 10px;
}

.shop:hover{
  background-color:rgb(255, 255, 255, 0.2);
  transition:  0.5s;
}


.user-info2{
  border: 2px solid white;
  position: absolute;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  /* display: none; */
}

.nickname2{
  padding-top: 4px;
  margin-left: 18px;
  color: white;
  float: left;
}